# Lista de Exercícios - Logica de Programacao em Python

# Exercício 1:

Faça um programa, definindo uma função, para calcular a temperatura em graus Celsius a partir de uma temperatura em graus Farenheit.

\begin{equation}
    T_c=5(T_f-32)/9
\end{equation}

In [ ]:
def farentocel(faren):
  celsius = (5*(faren-32))/9
  celsius = float(celsius)
  return celsius

temp = farentocel(200)
print(f"{temp:.4f}")

93.3333

# Exercício 2:

Faça um programa, definindo uma função, para calcular a média final alcançada por um aluno e apresentar:

1. A mensagem "Aprovado", se a média for maior ou igual a 7, com o respectivo valor da média;<br>
2. A mensagem "Reprovado", se a média for menor do que 7, com o respectivo valor da média;<br>
3. A mensagem "Aprovado com Distinção", se a média for igual a 10.

Dica: Suponha que as notas desse aluno estejam em uma lista (Não é a única forma de fazer).

In [ ]:
import statistics
notas = [10,10,10,10,10]
media = statistics.mean(notas)

if media == 10:
  print('Aprovado com Distinção')

elif media >= 7 < 10:
  print('Aprovado')

elif media < 7:
  print('Reprovado')

Aprovado com Distinção

# Exercício 3:

Você foi contratado por uma padaria para desenvolver um programa para montar a tabela digital de preços de pães, de 1 até 50 pães. Essa tabela deve ser atualizada diariamente a partir do preço do pão informado pelo gerente, conforme o exemplo abaixo:

Número de pães | Preço (R\$)
---------------|------------
1              | 0.18
2              | 0.36
$\vdots$       | $\vdots$
50             | 9.00

In [ ]:
valor_pao = 0.5
# print('Número de pães | Preço (R\$)\n---------------|------------')

numeropaes = []
preco = []

for i in range(1,50):
  valoratual = valor_pao * i
  # print(f'             {i} | {valoratual}')
  numeropaes.append(i)
  preco.append(valoratual)

import pandas as pd
paes = {'Número de Pães':numeropaes,
        'Preço (R$)':preco}
df = pd.DataFrame(paes)
df

    Número de Pães  Preço (R$)
0                1         0.5
1                2         1.0
2                3         1.5
3                4         2.0
4                5         2.5
5                6         3.0
6                7         3.5
7                8         4.0
8                9         4.5
9               10         5.0
10              11         5.5
11              12         6.0
12              13         6.5
13              14         7.0
14              15         7.5
15              16         8.0
16              17         8.5
17              18         9.0
18              19         9.5
19              20        10.0
20              21        10.5
21              22        11.0
22              23        11.5
23              24        12.0
24              25        12.5
25              26        13.0
26              27        13.5
27              28        14.0
28              29        14.5
29              30        15.0
30              31        15.5
31              32        16.0
32              33        16.5
33              34        17.0
34              35        17.5
35              36        18.0
36              37        18.5
37              38        19.0
38              39        19.5
39              40        20.0
40              41        20.5
41              42        21.0
42              43        21.5
43              44        22.0
44              45        22.5
45              46        23.0
46              47        23.5
47              48        24.0
48              49        24.5

# Exercício 4:

Você foi contratado por uma agência de detetives para emitir uma classificação sobre a participação de pessoas suspeitas em um crime. Cada pessoa suspeita respondeu as seguintes perguntas:

1. "Você matou a vítima?"<br>
2. "Você esteve com ela no dia de sua morte?"<br>
3. "Você esteve no local do crime?"<br>
4. "Você mora perto da vítima?"<br>
5. "Você devia dinheiro para a vítima?"<br>

Considere que:

1. Se uma pessoa responder positivamente a primeira pergunta, ela deve ser classificada como "Assassina";
2. Se ela responder positivamente a 2 ou 3 questões (que não sejam a primeira), ela deve ser classificada como "Suspeita";
3. Se ela responder positivamente a 4 questões (que não sejam a primeira), ela deve ser classificada como "Cúmplice";
4. Caso contrário, ela será classificada como "Inocente".

In [ ]:
def crime():
  matou = input('Você matou a vítima? (Sim/Não)')
  if matou == 'Sim':
    return 'Assasina'
  esteve = input('Você esteve com ela no dia de sua morte? (Sim/Não)')
  local = input('Você esteve no local do crime? (Sim/Não)')
  mora = input('Você mora perto da vítima? (Sim/Não)')
  dinheiro = input('Você devia dinheiro para a vítima? (Sim/Não)')

  respostas = [esteve, local, mora, dinheiro]
  total = respostas.count('Sim')

  if total >= 2 and total < 4:
    return 'Suspeita'
  elif total >= 4:
    return 'Cúmplice'
  else:
    return 'Inocente'

crime()

Você matou a vítima? (Sim/Não)Não
Você esteve com ela no dia de sua morte? (Sim/Não)Não
Você esteve no local do crime? (Sim/Não)Não
Você mora perto da vítima? (Sim/Não)Sim
Você devia dinheiro para a vítima? (Sim/Não)Sim

'Suspeita'

# Exercício 5:

Você trabalha para um banco e quer fazer uma função pra decidir se aprova ou não o empréstimo bancário para a compra de uma casa. Dado o valor da casa, o salário do comprador e a quantidade de anos que será pago o empréstimo, diga se um trabalhador que foi pedir empréstimo no seu banco vai receber o dinheiro ou não. Considere que a prestação mensal não pode exceder 30% do salário do comprador para aprovação.

In [ ]:
casa = float(input('Valor da Casa = '))
tempo = int(input('Quantidade de Parcelas = '))
salario = float(input('Renda/Salário Mensal = '))

emprest = casa / tempo
def valor_emprestimo (emprest):
   if emprest <= (salario*0.3):
    return 'Aprovado'
   else:
    return 'Reprovado'
valor_emprestimo(emprest)

Valor da Casa = 140000
Quantidade de Parcelas = 360
Renda/Salário Mensal = 3000

'Aprovado'

# Exercício 6:

Faça uma função para gerar os $n$ ($n\ge3$) primeiros elementos da sequência de Fibonacci, supondo que o primeiro e o segundo elemento seja 0 e 1, respectivamente.

In [ ]:
def fibo(n):
# primeiro numero 0
  if n == 1:
    return 0
# segundo numero 1
  elif n == 2:
    return 1
# terceiro numero (n-1)+(n-2)
  else:
    return fibo(n-1) + fibo(n-2)

numero = int(input('Número = '))
for i in range(1, numero+1):
  print(fibo(i))

Número = 10
0
1
1
2
3
5
8
13
21
34

# Exercício 7:

Elabore um algoritmo que mova três discos de uma torre de Hanói, que consiste em três hastes (a, b e c), uma das quais server de suporte para três discos de tamanhos diferentes (1, 2 e 3), os menores sobre os maiores. Pode-se mover um disco de cada vez para qualquer haste, contanto que nunca seja colocado um disco maior sobre um menor. O objetivo é transferir os três discos para outra haste.

![picture](https://drive.google.com/thumbnail?id=1VzYDGLb7z0unTKRFPO405PopKe8pVYZP&sz=w600)

In [ ]:
discos = 4
movimentos = 2**discos - 1
print('Número de Jogadas:',movimentos)

# def movimentos(d):
#   if d == 0:
#     return 'Sem Jogadas'
#   return 2**d - 1

# # discos = int(input('Número de Discos = '))
# movimentos(discos)

torre1 = [3,2,1]
torre2 = []
torre3 = []
print('Inicio do Jogo ','Torre 1 ',torre1,'Torre 2 ',torre2,'Torre 3 ',torre3)
torre3.append(torre1[2])
torre1.pop(2)
print('1° Jogada','Torre 1 ',torre1,'Torre 2 ',torre2,'Torre 3 ',torre3)
torre2.append(torre1[1])
torre1.pop(1)
print('2° Jogada','Torre 1 ',torre1,'Torre 2 ',torre2,'Torre 3 ',torre3)
torre2.append(torre3[0])
torre3.pop(0)
print('3° Jogada','Torre 1 ',torre1,'Torre 2 ',torre2,'Torre 3 ',torre3)
torre3.append(torre1[0])
torre1.pop(0)
print('4° Jogada','Torre 1 ',torre1,'Torre 2 ',torre2,'Torre 3 ',torre3)
torre1.append(torre2[1])
torre2.pop(1)
print('5° Jogada','Torre 1 ',torre1,'Torre 2 ',torre2,'Torre 3 ',torre3)
torre3.append(torre2[0])
torre2.pop(0)
print('6° Jogada','Torre 1 ',torre1,'Torre 2 ',torre2,'Torre 3 ',torre3)
torre3.append(torre1[0])
torre1.pop(0)
print('7° Jogada','Torre 1 ',torre1,'Torre 2 ',torre2,'Torre 3 ',torre3)
print('Fim das Jogadas')

Número de Jogadas: 15
Inicio do Jogo  Torre 1  [3, 2, 1] Torre 2  [] Torre 3  []
1° Jogada Torre 1  [3, 2] Torre 2  [] Torre 3  [1]
2° Jogada Torre 1  [3] Torre 2  [2] Torre 3  [1]
3° Jogada Torre 1  [3] Torre 2  [2, 1] Torre 3  []
4° Jogada Torre 1  [] Torre 2  [2, 1] Torre 3  [3]
5° Jogada Torre 1  [1] Torre 2  [2] Torre 3  [3]
6° Jogada Torre 1  [1] Torre 2  [] Torre 3  [3, 2]
7° Jogada Torre 1  [] Torre 2  [] Torre 3  [3, 2, 1]
Fim das Jogadas

# Exercício 8:

Elabore um código que calcule $N!$ (fatorial de $N$), sendo que o valor inteiro de $N$ é fornecido.

Sabendo que:

- $N! = 1 \times 2 \times 3 \times \dots \times (N-1) \times N$;

- $0! = 1$, por definição.

In [ ]:
def fatorialn (num):
  if num == 0:
    return 1
  return num * fatorialn(num-1)

n = int(input('Número = '))
fatorialn(n)

Número = 5

120

# Exercício 9:

Prepare um código que calcule o valor de $H$, sendo que ele é determinado pela série:

$H = 1/1 + 3/2 + 5/3 + 7/4 + \dots +99/50$

In [ ]:
def calculo():
  h = 0
  for i in range(1,51):
    h = h + ((i*2)-1)/i
  return h
calculo()

95.5007946616706

# Exercício 10:

Anacleto tem 1,50 metro e cresce 2 centímetros por ano, enquanto Felisberto tem 1,10 metro e cresce 3 centímetros por ano. Construa um código que calcule e imprima quantos anos serão necessários para que Felisberto seja maior que Anacleto.

In [ ]:
anacleto = 1.5
felisberto = 1.1
tempo = 0

while felisberto < anacleto:
  anacleto = 0.02 + anacleto
  felisberto = 0.03 + felisberto
  tempo = 1 + tempo
print(f'{tempo} anos')

41 anos